<% if @comment.parent_id.present? %>
  <%= turbo_stream.append "sub_comments_#{@comment.parent_id}" do %>
    <%= render partial: "comments/comment", locals: { comment: @comment, depth: 0 } %>
  <% end %>

  <%= turbo_stream.update "post_#{@post.id}_comment_count" do %>
    <%= pluralize(@post.comments.reload.count, 'comment') %>
  <% end %>
  
  <%= turbo_stream.replace "reply_section_#{@comment.parent_id}" do %>
    <%= turbo_frame_tag "reply_section_#{@comment.parent_id}" do %>
      <div class="pb-5 pt-5 border-b border-[#2a2a2a]">
        <button id="reply_button_<%= @comment.parent_id %>"
                onclick="document.getElementById('reply_form_container_<%= @comment.parent_id %>').style.display='block'; this.style.display='none'"
                class="ml-auto flex items-center gap-1 pl-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
              <path d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
              </svg>

          <span>Reply</span>
        </button>
      </div>
      <div id="reply_form_container_<%= @comment.parent_id %>" style="display: none;">
        <%= render partial: 'comments/reply_form', locals: { 
          topic: @topic, 
          post: @post, 
          comment: Comment.find(@comment.parent_id)
        } %>
      </div>
    <% end %>
  <% end %>

<% else %>
  <%= turbo_stream.replace "post_comment_form" do %>
    <%= render partial: "comments/form", locals: { topic: @topic, post: @post, comment: Comment.new } %>
  <% end %>
  
  <%= turbo_stream.update "post_#{@post.id}_comment_count" do %>
    <%= pluralize(@post.comments.reload.count, 'comment') %>
  <% end %>
  
  <%= turbo_stream.prepend "post_#{@post.id}_comments" do %>
    <%= render partial: "comments/comment", locals: { comment: @comment } %>
  <% end %>
<% end %>