
<div class="text-center border-inherit rounded-md pt-10 pb-12 mt-7 mb-50 mx-auto ring shadow-xl ring-gray-900/5 focus:outline-none">
<h1 class="text-2xl font-bold">Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field pt-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder: "Enter your email", autofocus: true, autocomplete: "email",
          class: "border-2 border-[#2a2a2a] rounded-full focus:outline-none px-4 py-1" %>
  </div>

    <div class= "actions bg-[#ed5024] hover:bg-[#e0603c] mt-4 pt-1 pb-1 pr-10 pl-10 mb-2 inline-block text-white font-medium  rounded-full shadow transition duration-200">
    <%= f.submit "Reset password" %>
  </div>
<% end %>
<div class="border-b pt-4 mb-3 border-[#2a2a2a]"> </div>

  <p><%= link_to "Go back", new_session_path(resource_name), class: "hover:text-[#ababab]" %></p>

</div>