<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mash It Forum" %></title>
    <%= render 'application/favicon' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mash-it Artists Forum">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header class="bg-[#161616] pl-4 ring shadow-xl ring-gray-900/5 border-b border-[#2a2a2a] flex items-center">
   <%= link_to image_tag("logo.png", size: "70"), root_path, class: "inline-block" %>
   <%= link_to "Mash-it.io", "https://mash-it.io/mashers", class: "pl-6" %>
   <%= link_to "About", about_path, class: "pl-4" %>

     <% if user_signed_in? %>
<div data-controller="avatar-menu" class="dropdown relative inline-block ml-auto">
  <button data-action="click->avatar-menu#toggle"
          class="focus:outline-none flex items-center">
    <%= render 'avatar_pfp/mashit_avatar_sm', user: current_user %>
  </button>

  <div data-avatar-menu-target="menu" class="dropdown-menu hidden absolute right-0 mt-1 w-48 bg-[#161616] rounded-lg shadow-lg border border-[#2a2a2a] z-50">
    <div class="p-3 border-b border-[#2a2a2a]">
      <p class="font-semibold text-sm text-white"><%= current_user.username %></p>
    </div>
    <ul class="divide-y divide-[#2a2a2a]">
      <li>
        <%= link_to "View Profile", profile_path(current_user), class: "block px-4 py-2 text-sm text-gray-300 hover:bg-gray-800" %>
      </li>
      <% if current_user&.admin? %>
        <li class="block sm:hidden">
        <%= link_to "New topic", new_topic_path, class: "block px-4 py-2 text-gray-300 text-sm hover:bg-gray-800" %>
        </li>

        <li>
          <%= link_to "Admin Panel", avo_path, class: "block px-4 py-2 text-sm text-red-500 hover:bg-gray-800" %>
        </li>
      <% end %>
      <li>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "w-full text-left px-4 py-2 text-sm text-red-500 hover:bg-gray-800" %>
      </li>
    </ul>
  </div>
</div>
  <% else %>
    <%= link_to "Sign in", sign_in_path, class: "bg-[#ed5024] hover:bg-[#e0603c] inline-block text-white font-medium mr-2 py-2 px-4 rounded-full shadow transition duration-200 ml-auto" %>
  <% end %>
  </header>

    <%# pinned nav bar  %>
  <div data-controller="sidebar" class="flex flex-grow min-h-screen">
    <nav data-sidebar-target="sidebar" class="md:flex w-1/7 flex-col hidden sticky top-6 left-3 h-full pt-4 pr-5 pl-5 pb-5 bg-[#1a1a1a] rounded-md mt-6">

    <div class="flex justify-end">
    <svg data-action="click->sidebar#toggle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-layout-sidebar-left-collapse"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M18 3a3 3 0 0 1 2.995 2.824l.005 .176v12a3 3 0 0 1 -2.824 2.995l-.176 .005h-12a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-12a3 3 0 0 1 2.824 -2.995l.176 -.005h12zm0 2h-9v14h9a1 1 0 0 0 .993 -.883l.007 -.117v-12a1 1 0 0 0 -.883 -.993l-.117 -.007zm-2.293 4.293a1 1 0 0 1 .083 1.32l-.083 .094l-1.292 1.293l1.292 1.293a1 1 0 0 1 .083 1.32l-.083 .094a1 1 0 0 1 -1.32 .083l-.094 -.083l-2 -2a1 1 0 0 1 -.083 -1.32l.083 -.094l2 -2a1 1 0 0 1 1.414 0z" /></svg>
    </div>
        <ul class="space-y-2">  <%# space-y-2 adds vertical spacing between items %>

        <%# New topic %>
        <% if current_user&.admin? %>
        <li>
      <%= link_to new_topic_path, class: "flex items-center gap-3 pl-2 py-2 hover:bg-[#2a2a2a] rounded-md group" do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-ballpen"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M14 6l7 7l-4 4" /><path d="M5.228 18.172a2.828 2.828 0 0 0 4 0l10.586 -10.586a2 2 0 0 0 0 -2.829l-1.171 -1.171a2 2 0 0 0 -2.829 0l-10.586 10.586a2.828 2.828 0 0 0 0 4" /><path d="M4 20l1.768 -1.768" /></svg>
      <span class="text-gray-300 group-hover:text-white text-sm"> New topic </span>

    <% end %>
      </li>
      <% end %>

      <%# topics page %>
      <li>
        <%= link_to topics_path, class: "flex items-center gap-3 pl-2 py-2 hover:bg-[#2a2a2a] rounded-md group" do %>
          <%# Posts Icon %>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-messages"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10" /><path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2" /></svg>


          <span class="text-gray-300 group-hover:text-white text-sm"> Topics </span>
        <% end %>
      </li>

      <li> 
      <% if user_signed_in? %>

        <%= link_to profile_path(current_user), class: "flex items-center gap-3 pl-2 py-2 hover:bg-[#2a2a2a] rounded-md group" do %>
          <!-- Posts Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>

          <span class="text-gray-300 group-hover:text-white text-sm"> Profile </span>
        <% end %>
        
      <% end %>
      
      </li>
      
      </ul>
    </nav>

  <body class="bg-[#161616] min-h-screen text-white">
        <main class="flex-1 min-w-0">
        <div class="container mx-auto mt-5 mb-5">
          <%= yield %>
        </div>
      </main>
    </div>

    <%= render "application/footer" %>
  </body>
</html>
